$white: white;
$black: #46484e;
// couleurs
$gray-bike: #8A8C92; // using by back button
$blue-avril: #365460; // using by titles
$gray-avril: #6C787D; // using by text

$palette: (
  default: (
    background: #f5f9fb,
    text: #848f93,
    title: #18495e,
  ),
  blue: (
    background: #c7eeff,
    text: #357692,
    title: #18495e
  ),
  green: (
    background: #d6ffed,
    text: #69897b,
    title: #445c51
  ),
  yellow: (
    background: #ffffa5,
    text: #41413c,
    title: #41413c
  ),
  red: (
    background: #ffaccc,
    text: #5a2036,
    title: #5a2036
  )
);

$dashboard-navigation-width: 15rem;

@each $key, $value in $palette {
  .is-#{$key} {
    color: palette($key, text) !important;
    background: palette($key, background) !important;

    &.button {
      &:hover {
        opacity: 0.8;
      }
    }

    .title {
      color: palette($key, title) !important;
    }
  }
}
