// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://use.typekit.net/zip3jhj.css');

$family-sans-serif: Nunito, sans-serif;
$family-serif: ff-tisa-web-pro, serif;
$title-family: $family-serif;
